---
//This index page creates a route in the website that has the same route as the parent folder, allowing us to keep all related pages together
import { getCollection } from "astro:content";
import Base from "@layouts/BaseLO.astro";
import Formatter from "@components/BlogListFormatter.astro";
let posts = await getCollection("blog");

posts = posts.sort((a, b) => {
	if (a.data.pubDate > b.data.pubDate) {
		return -1;
	}
	if (b.data.pubDate > a.data.pubDate) {
		return 1;
	}
	return 0;
});

if (import.meta.env.PROD) {
	posts = posts.filter((post) => !post.data.draft);
}
---

<Base title="My Blog Posts" , heading="My Blog Posts">
	<div>
		<ul>
			{
				posts.map((post) => (
					<Formatter
						url={`/blog/${post.slug}`}
						draft={post.data.draft}
						title={post.data.title}
						pubDate={post.data.pubDate}
						tags={post.data.tags}
					/>
				))
			}
		</ul>
	</div>
</Base>
