---
const { url, draft, title, pubDate, tags } = Astro.props;
import { formatDate } from "../utils.ts";
---

<li>
	<a href={url}>
		<div class="py-4 border-b first:border-t hover:bg-slate-300 rounded">
			{
				draft && (
					<p class="bg-red-700 text-white inline-block rounded px-0.5">
						DRAFT
					</p>
				)
			}
			<p class="text-blue-700 hover:underline ml-2">
				{title}
			</p>
			<div class="flex">
				<div class="flex m-1 mr-auto">
					{tags && tags.map((tag)=>(
						<div class="bg-teal-500 px-0.5 mx-1 rounded">
							<a class="text-white text-sm" href=`tags/${tag}`>{tag}</a>
						</div>
					))}
				 </div>
				{pubDate && <p class="text-right">{formatDate(pubDate)}</p>}
			</div>
		</div>
	</a>
</li>
