---
const { url, draft, title, pubDate, tags } = Astro.props;
import { formatDate } from "../utils.ts";
---

<li>
  <a href={url}>
    <div class="rounded border-b py-4 first:border-t hover:bg-slate-300">
      {
        draft && (
          <p class="inline-block rounded bg-red-700 px-0.5 text-white">DRAFT</p>
        )
      }
      <p class="ml-2 text-blue-700 hover:underline">
        {title}
      </p>
      <div class="flex">
        <div class="m-1 mr-auto flex">
          {
            tags &&
              tags.map((tag: string) => (
                <div class="mx-1 rounded bg-teal-500 px-0.5">
                  <a class="text-sm text-white" href={`/tags/${tag}`}>
                    {tag}
                  </a>
                </div>
              ))
          }
        </div>
        {pubDate && <p class="text-right">{formatDate(pubDate)}</p>}
      </div>
    </div>
  </a>
</li>
