---
import Base from "@layouts/BaseLO.astro";
import { formatDate } from "../utils.ts";

//const { title, date, author, draft } = Astro.props.frontmatter;
const { frontmatter } = Astro.props;
---

<Base title="Blog Post" heading={frontmatter.title}>
  <div class="prose dark:prose-invert">
    {
      frontmatter.draft && (
        <p class="mb-4 inline-block bg-red-700 px-2 text-white">DRAFT</p>
      )
    }
    <div class="m-1 mr-auto flex">
      {
        frontmatter.tags &&
          frontmatter.tags.map((tag: string) => (
            <div class="mx-1 rounded bg-teal-500 px-0.5">
              <a class="text-sm text-white" href={`/tags/${tag}`}>
                {tag}
              </a>
            </div>
          ))
      }
    </div>
    {
      frontmatter.image && (
        <img
          src={frontmatter.image.url}
          width="300"
          alt={frontmatter.image.alt}
        />
      )
    }
    <p>Written by: {frontmatter.author}</p>
    <p class="mb-4">{formatDate(frontmatter.pubDate)}</p>

    <slot />
  </div>
</Base>
